@import "common";
@import "mixin";
@import "variables";
.loginArea {
    padding: 20px;
    @include mq(500px) {
        padding: 20px 0px;
    }
    text-align: center;
    width: 100%;
}

.logo2 {
    @include logo();
}

.logo-title {
    @include logoTitle();
}

.logo2 a {
    @include logoLink();
}

.form {
    @include formStyle();
    @include mq(430px) {
        width: 350px;
    }
    @include mq(370px) {
        width: 300px;
    }
}

.form-content {
    @include formContent();
    @include mq(430px) {
        width: 310px;
    }
    @include mq(370px) {
        width: 260px;
    }
}

.form-content .user-input {
    @include formInput();
}

.form .label-content {
    @include formLabel();
}

.form .label-content::after {
    @include labelAfter();
}

.content2 {
    @include contentOnly();
}

.form-content .user-input:focus+label .content2,
.form-content .user-input:valid+label .content2 {
    transform: translateY(-150%);
}

.form-content .user-input:focus+label::after,
.form-content .user-input:valid+label::after {
    transform: translateX(0%);
}

.button .btn {
    @include buttonStyle();
}

.button .btn {
    font-size: 16px;
    font-weight: 700;
    color: $deepBlue;
}

.button .btn:hover {
    background-color: darken($borderColour, $amount: 2);
}

.login-footer {
    @include formFooter();
    margin: 20px 0px 0px 0px;
}

.check {
    color: $deepBlue;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
}

#toggle {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.option-login {
    margin: 10px 0px;
    text-align: center;
}

.google-sign {
    position: relative;
    width: 100%;
    margin: 10px 0px;
}

.google-sign .google-btn {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    border: none;
    outline: none;
    position: relative;
    width: 100%;
    padding: 15px 0px;
    transition: all 0.1s ease;
    color: $deepBlue;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), inset 4px 4px 10px rgba(0, 0, 0, 0.05), inset -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 0, 0, 0.05);
    &:hover {
        background-color: rgb(144, 164, 219);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05), -4px -4px 10px rgba(255, 255, 255, 1);
    }
    cursor: pointer;
}

.google-logo {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20%;
    z-index: 1;
    @include mq(430px) {
        left: 15%;
    }
    @include mq(370px) {
        left: 10%;
    }
    top: 9px;
    background-image: url('/images/commonStore/google-logo.png');
    background-size: cover;
    cursor: pointer;
}

.loadOverlay {
    @include overlay;
    visibility: visible !important;
    background-color: rgb(0, 0, 0) !important;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4) !important;
    /* Black w/ opacity */
}

.loader {
    @include loader();
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.errorMsg {
    color: rgb(255, 76, 76);
}

#login-btn:disabled {
    background-color: rgb(255, 228, 202);
    box-shadow: 1px 1px 0.5px 1px $formBorder, 1px 1px 0.5px 1px $formBorder;
    cursor: default;
}