//common styles elements
@mixin nav() {
    color: $deepWhite;
    font-size: 19px;
    margin-right: 30px;
    cursor: pointer;
}

@mixin line() {
    border-bottom: 1px solid lighten($deepBlue, $amount: 9);
}

@mixin footer() {
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
    padding: 20px;
}

@mixin borderBox() {
    padding: 5px 10px;
    border: 1px solid $deepWhite;
}

@mixin mq($arg) {
    @media screen and (max-width: $arg) {
        @content;
    }
}

//form css
@mixin logo() {
    width: 100%;
    text-transform: capitalize;
    padding-bottom: 20px;
}

@mixin logoTitle() {
    color: $borderColour;
    font-weight: 900;
}

@mixin logoLink() {
    font-size: 28px;
    font-weight: 700;
    color: $deepBlue;
}

@mixin formStyle() {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 0.5px solid rgb(216, 212, 212);
    box-shadow: inset 1px 1px 0.5px 0.5px $formBorder, inset -1px -1px 0.5px 0.5px $formBorder;
    color: $deepBlue;
}

@mixin formContent() {
    width: 360px;
    position: relative;
    height: 50px;
    margin: 20px 0px;
    overflow: hidden;
}

@mixin formInput() {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    color: $inputFontColor;
    border: none;
    font-size: 18px;
    outline: none;
    background-color: $inputBgColor;
}

@mixin formLabel() {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid $deepBlue;
}

@mixin labelAfter() {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid $borderColour;
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

@mixin contentOnly() {
    position: absolute;
    left: 0px;
    bottom: 5px;
    transition: all 0.1s ease;
}

@mixin buttonStyle() {
    border: none;
    text-decoration: none;
    background-color: $lightOrange;
    text-align: center;
    width: 100%;
    color: $deepBlue;
    padding: 15px 0px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 1px 1px 0.5px 1px $borderColour, 1px 1px 0.5px 1px $borderColour;
    outline: none;
    transition: all 0.1s ease;
    margin-top: 20px;
}

@mixin formFooter() {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    color: $inputFontColor;
}

@mixin toggle() {
    position: absolute;
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
    top: 50%;
    right: 20px;
    transform: translateY(-20%);
}

@mixin overlay() {
    background-color: $deepBlue;
    opacity: 0.95;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    transition: $transition;
}

@mixin loader() {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    border: 10px solid $inputFontColor;
    border-radius: 50%;
    border-top: 10px solid $borderColour;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@mixin modelCont() {
    position: relative;
    z-index: 9;
    color: $deepBlue;
    margin: 10% auto;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
}

@mixin close() {
    color: $deepBlue;
    font-size: 32px;
    position: absolute;
    right: 10px;
    top: 0px;
    transition: 0.3s ease-in;
    cursor: pointer;
    font-weight: bold;
    &:hover {
        color: $borderColour;
    }
}

@mixin toolTip() {
    position: relative;
    display: inline-block;
}

@mixin toolTipContent() {
    visibility: hidden;
    width: 200px;
    background-color: rgb(233, 225, 225);
    color: $deepBlue;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 50%;
    margin-left: -100px;
}

@mixin toolTipArrow() {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -6.5px;
    border-width: 6.5px;
    border-style: solid;
    border-color: transparent transparent $deepWhite transparent;
}

@mixin toolTipContent2() {
    width: 200px;
    color: $deepWhite;
    text-align: center;
    border-radius: 3px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    bottom: 140%;
    left: 50%;
    margin-left: -100px;
    background-color: $deepBlue;
    font-size: 11px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

@mixin toolTipArrow2() {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -4px;
    border-width: 4px;
    border-style: solid;
    border-color: $deepBlue transparent transparent transparent;
    visibility: hidden;
    opacity: 0;
}

@mixin banner() {
    position: relative;
    height: 200px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    top: 20px;
}

@mixin banner-text() {
    position: absolute;
    left: 5%;
    top: 80px;
    font-size: 36px;
    font-weight: 800;
}

@mixin banner-img() {
    position: absolute;
    right: 10%;
    height: 100%;
    top: 20px;
}

@mixin category() {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

@mixin container() {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center;
    align-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@mixin item() {
    width: 100%;
    height: 100%;
}

@mixin image_contain() {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

@mixin image() {
    display: block;
    max-height: 290px;
    max-width: 290px;
    width: 290px;
    height: 260px;
}

@mixin title() {
    margin: 10px 0px;
    font-size: 18px;
    color: $deepBlue;
    cursor: pointer;
}

@mixin price() {
    margin-bottom: 10px;
    color: $deepBlue;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
}

@mixin symbol() {
    font-weight: 700;
    color: $borderColour;
    font-size: 22px;
    cursor: pointer;
}

@mixin blur() {
    background-color: whitesmoke;
    opacity: 0.8;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    transition: $transition;
}