//variables
$deepBlue:#032f3e;
$lightOrange:#f8bf2e;
$deepWhite:#f8f9fb;
$blackClr:rgb(59, 58, 58);
$headingFontSize:21px;
$bannerHeading:42px;
$headingFontWeight:700px;
$borderColour:#ecac08;
$transition:0.1s linear;