* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-color: #f3ecec;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: none;
}

.wrapper {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  box-sizing: border-box;
}

.loadOverlay {
  background-color: #032f3e;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: 0.1s linear;
  visibility: visible !important;
  background-color: black !important;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4) !important;
  /* Black w/ opacity */
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  border: 10px solid #595f6e;
  border-radius: 50%;
  border-top: 10px solid #ecac08;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.loader2 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  border: 10px solid #595f6e;
  border-radius: 50%;
  border-top: 10px solid #ecac08;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.blurLoader {
  background-color: whitesmoke;
  opacity: 0.8;
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  transition: 0.1s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.info-style {
  position: relative;
  z-index: 9;
  color: #032f3e;
  margin: 10% auto;
  width: 30%;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  margin: 30px auto !important;
}

.modal {
  background-color: #032f3e;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: 0.1s linear;
  background-color: black !important;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9) !important;
  visibility: hidden;
  /* Black w/ opacity */
}

.model-content {
  position: relative;
  z-index: 9;
  color: #032f3e;
  margin: 10% auto;
  width: 30%;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  background-color: #f3ecec;
  box-shadow: inset 1px 1px 0.5px 0.5px #a8a7a7, inset -1px -1px 0.5px 0.5px #a8a7a7;
}

.model-close {
  color: #032f3e;
  font-size: 32px;
  position: absolute;
  right: 10px;
  top: 0px;
  transition: 0.3s ease-in;
  cursor: pointer;
  font-weight: bold;
}
.model-close:hover {
  color: #ecac08;
}

.success {
  background-color: #e8fce8;
  border: 1px solid #589958;
  box-shadow: inset 1px 1px 1px 2px #589958, inset -1px -1px 1px 2px #589958, inset 1px 1px 1px 2px #589958, inset -1px -1px 1px 2px #589958;
}
.success h4 {
  font-size: 22px;
  font-weight: 700;
  color: #589958;
}
.success h4 .term {
  font-size: 22px;
  font-weight: 900;
  color: #589958;
}

.failure {
  background-color: #ffe8e8;
  border: 1px solid #ff6060;
  box-shadow: inset 1px 1px 1px 2px #ff6060, inset -1px -1px 1px 2px #ff6060, inset 1px 1px 1px 2px #ff6060, inset -1px -1px 1px 2px #ff6060;
}
.failure h4 {
  font-size: 20px;
  font-weight: 700;
  color: #ff6060;
}
.failure h4 .term {
  font-size: 22px;
  font-weight: 900;
  color: #ff6060;
}

.warning {
  background-color: #ffecc0;
  border: 1px solid #e9b148;
  box-shadow: inset 1px 1px 1px 2px #e9b148, inset -1px -1px 1px 2px #e9b148, inset 1px 1px 1px 2px #e9b148, inset -1px -1px 1px 2px #e9b148;
}
.warning h4 {
  font-size: 20px;
  font-weight: 700;
  color: #e9b148;
}
.warning h4 .term {
  font-size: 22px;
  font-weight: 900;
  color: #e9b148;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #032f3e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header {
  display: flex;
  background-color: #032f3e;
  color: #f8f9fb;
  height: 100px;
  padding: 15px;
  justify-content: center;
}
@media screen and (max-width: 650px) {
  header .logo {
    height: 35px;
  }
}
header .logo a {
  margin-left: 20px;
  color: #f8f9fb;
  font-size: 24px;
}
@media screen and (max-width: 900px) {
  header .logo a {
    font-size: 18px;
  }
}
@media screen and (max-width: 650px) {
  header .logo a {
    font-size: 25px;
    position: absolute;
    left: 200px;
  }
}
@media screen and (max-width: 550px) {
  header .logo a {
    font-size: 25px;
    position: absolute;
    left: 170px;
  }
}
@media screen and (max-width: 490px) {
  header .logo a {
    font-size: 25px;
    position: absolute;
    left: 150px;
  }
}
@media screen and (max-width: 420px) {
  header .logo a {
    font-size: 25px;
    position: absolute;
    left: 100px;
  }
}
header .logo .logo-title {
  color: #f8bf2e;
}
header .wrapper {
  height: 30px;
  background-color: #f8f9fb;
  position: relative;
  padding: 0px;
  border-radius: 5px;
  margin: 0px 55px 0px 35px;
}
@media screen and (max-width: 750px) {
  header .wrapper {
    margin: 0px 20px 0px 15px;
  }
}
@media screen and (max-width: 650px) {
  header .wrapper {
    position: relative;
    top: 45px;
    left: -10px;
    margin: 0;
  }
}
@media screen and (max-width: 450px) {
  header .wrapper {
    position: relative;
    top: 45px;
    left: -10px;
    width: 340px;
  }
}
header .nav-left {
  position: absolute;
}
header .nav-search-dropdown {
  position: absolute;
  border: none;
  font-size: 14px;
  background-color: #dddbdb;
  width: 100px;
  height: 30px;
  -webkit-appearance: none;
  outline: none;
  padding: 8px;
  border-right: 1px solid #3b3a3a;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
@media screen and (max-width: 650px) {
  header .nav-search-dropdown {
    display: none;
  }
}
header .nav-search-dropdown:hover {
  background-color: #b6b3b3;
}
header .nav-sort-icon {
  position: absolute;
  top: 0px;
  left: 70px;
  color: #3b3a3a;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  pointer-events: none;
}
@media screen and (max-width: 650px) {
  header .nav-sort-icon {
    display: none;
  }
}
header .nav-right {
  position: relative;
  left: 100px;
  top: 0px;
}
header .search-input {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 82%;
  padding-left: 5px;
  font-size: 18px;
  height: 30px;
  outline: none;
  border: none;
}
@media screen and (max-width: 1100px) {
  header .search-input {
    width: 65%;
  }
}
@media screen and (max-width: 850px) {
  header .search-input {
    width: 60%;
  }
}
@media screen and (max-width: 650px) {
  header .search-input {
    position: absolute;
    top: 0px;
    left: -100px;
    width: 80%;
  }
}
header .nav-search-icon {
  position: absolute;
  top: 0px;
  right: 100px;
  width: 50px;
  height: 30px;
  background-color: #f8bf2e;
  color: #032f3e;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
header .nav-cart {
  color: #f8f9fb;
  font-size: 19px;
  margin-right: 30px;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  font-size: 24px;
}
@media screen and (max-width: 900px) {
  header .nav-cart {
    font-size: 18px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 650px) {
  header .nav-cart {
    font-size: 22px;
    margin-top: 10px;
  }
}
header .nav-cart a {
  color: #f8f9fb;
}
header .cart-total {
  position: absolute;
  color: #f8bf2e;
  top: -12px;
  right: 0px;
  font-size: 16px;
  font-weight: 700px;
}
header .nav-account-wrapper {
  color: #f8f9fb;
  font-size: 19px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 14px;
}
@media screen and (max-width: 900px) {
  header .nav-account-wrapper {
    font-size: 14px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 650px) {
  header .nav-account-wrapper {
    display: none;
  }
}
header .nav-line-1 {
  color: #f8f9fb;
}
header .nav-order-details {
  color: #f8f9fb;
  font-size: 19px;
  margin-right: 30px;
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  header .nav-order-details {
    margin-right: 10px;
  }
}
@media screen and (max-width: 650px) {
  header .nav-order-details {
    display: none;
  }
}
header .nav-order-details a {
  color: #f8f9fb;
  font-size: 19px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 16px;
}
@media screen and (max-width: 900px) {
  header .nav-order-details a {
    font-size: 14px;
  }
}
header .nav-items {
  position: absolute;
  width: 100%;
  top: 60px;
  background-color: #04455b;
  padding: 10px;
}
@media screen and (max-width: 650px) {
  header .nav-items {
    display: none;
  }
}
header .nav-items ul li {
  display: inline;
  margin-left: 20px;
}
header .nav-items ul li a {
  font-size: 14px;
  color: #f8f9fb;
}
header .nav-items ul li a:hover {
  padding: 5px 10px;
  border: 1px solid #f8f9fb;
}

#user-id {
  position: relative;
  display: inline-block;
}
#user-id .tool-tip-content {
  visibility: hidden;
  width: 200px;
  background-color: #e9e1e1;
  color: #032f3e;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 140%;
  left: 50%;
  margin-left: -100px;
}
#user-id .tool-tip-content::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6.5px;
  border-width: 6.5px;
  border-style: solid;
  border-color: transparent transparent #f8f9fb transparent;
}
#user-id:hover .tool-tip-content {
  visibility: visible;
}
#user-id .tool-tip-list {
  padding: 20px;
}
#user-id li {
  margin-top: 20px;
}
#user-id li a {
  color: #032f3e;
  font-size: 16px;
  font-weight: 300;
}
#user-id .button .btn {
  width: 80%;
  padding: 10px 0px;
}

#user-login {
  position: relative;
  display: inline-block;
}
#user-login .tool-tip-content {
  visibility: hidden;
  width: 200px;
  background-color: #e9e1e1;
  color: #032f3e;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 140%;
  left: 50%;
  margin-left: -100px;
}
#user-login .tool-tip-content::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -6.5px;
  border-width: 6.5px;
  border-style: solid;
  border-color: transparent transparent #f8f9fb transparent;
}
#user-login:hover .tool-tip-content {
  visibility: visible;
}
#user-login .lead2 {
  margin: 20px 0px;
}
#user-login .lead2 a {
  font-size: 10px;
  color: #6169e0;
}
#user-login .lead2 a:hover {
  border-bottom: 0.3px solid #6169e0;
}
#user-login .btn {
  width: 80%;
  padding: 10px 0px;
}

.nav-bar {
  margin-left: 20px;
  font-size: 28px;
  height: 30px;
  color: #f8f9fb;
  padding-left: 15px;
  cursor: pointer;
}

.nav-overlay {
  background-color: #032f3e;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: 0.1s linear;
  visibility: hidden;
}

.navigationMenu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 30%;
  height: 100%;
  background-color: white !important;
  transform: translateX(-100%);
  z-index: 3;
  overflow: scroll;
  overflow-x: hidden;
  transition: 0.1s linear;
}
@media screen and (max-width: 650px) {
  .navigationMenu {
    width: 60% !important;
  }
}
@media screen and (max-width: 1000px) {
  .navigationMenu {
    width: 40%;
  }
}

.nav-close {
  position: absolute;
  left: 32%;
  top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .nav-close {
    left: 42%;
  }
}
@media screen and (max-width: 650px) {
  .nav-close {
    left: 62% !important;
  }
}

.nav-close i.fa {
  font-size: 35px;
  color: white;
}

.nav-menu {
  height: 60px;
  color: #f8f9fb;
  line-height: 60px;
  background-color: #032f3e !important;
  cursor: pointer;
}

.user-name {
  font-size: 34px;
  padding: 20px;
  color: #f8f9fb;
}
@media screen and (max-width: 375px) {
  .user-name {
    font-size: 24px;
  }
}

.user-div h2 {
  position: absolute;
  left: 20%;
  top: -20px;
  margin-top: 20px;
}
@media screen and (max-width: 375px) {
  .user-div h2 {
    font-size: 22px;
    left: 24%;
  }
}

.menu-items {
  padding: 20px;
  text-align: center;
}

.menu-items li a {
  color: #3b3a3a;
  font-weight: 500;
  font-size: 20px;
}

.menu-items .links {
  color: #3b3a3a;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.menu-items li {
  margin-bottom: 20px;
  padding: 10px 0px;
}
.menu-items li:hover {
  background-color: #dad7d7;
}

.border-item {
  border-bottom: 1px solid #05506a;
  margin: 0px;
  padding: 0px !important;
}
.border-item:hover {
  background-color: #f8f9fb !important;
}

footer {
  position: relative;
  bottom: 0px;
  left: 0px;
}
footer .nav-to-top {
  line-height: 40px;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  padding: 20px;
  color: #f8f9fb;
  background-color: #04455b;
  font-size: 14px;
}
footer .top-btn {
  cursor: pointer;
}
footer .top-btn:hover {
  padding: 5px 10px;
  border: 1px solid #f8f9fb;
}
footer .wrapper {
  background-color: #032f3e;
  padding: 20px 20px;
  display: block;
}
@media screen and (max-width: 650px) {
  footer .wrapper {
    display: none;
  }
}
footer .footer-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
footer .content {
  color: #f8f9fb;
  align-content: center;
  font-weight: 700px;
}
footer .content a {
  color: #f8f9fb;
  align-content: center;
  font-size: 12px;
}
footer .footer-line {
  border-bottom: 1px solid #05506a;
}
footer .footer-logo {
  background-color: #032f3e;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  padding: 20px;
}
footer .footer-logo a {
  color: #f8f9fb;
}
footer .footer-icon {
  color: #f8bf2e;
}
footer .footer-dead {
  background-color: #021921;
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
  padding: 20px;
}
footer .footer-line {
  border-bottom: 1px solid #05506a;
}
footer .footer-items {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
@media screen and (max-width: 650px) {
  footer .footer-items {
    display: block !important;
    background-color: #021921 !important;
  }
}
footer .footer-items li a {
  color: white;
  margin-left: 10px;
  font-size: 12px;
}
footer .footer-rights {
  margin-left: 10px;
  font-size: 10px;
  color: grey;
}
@media screen and (max-width: 650px) {
  footer .wrapper2 {
    padding: 20px 20px;
    background-color: #032f3e;
  }
  footer .wrapper2 .foot-list {
    display: block;
  }
  footer .foot-list ul {
    text-align: center;
  }
  footer .foot-list li {
    padding-bottom: 5px;
  }
  footer .foot-list a {
    color: #f8f9fb;
  }
}
footer .foot-list {
  display: none;
}

.show-nav {
  transform: translateX(0%);
}

.transparentbcg {
  visibility: visible;
}

.loaderOverlay {
  background-color: #032f3e;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: 0.1s linear;
  visibility: visible !important;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  border: 10px solid #595f6e;
  border-radius: 50%;
  border-top: 10px solid #ecac08;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.autocomplete-items {
  position: absolute;
  color: #032f3e;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 31.5px;
  left: 0;
  right: 0;
  width: 82%;
}
@media screen and (max-width: 1100px) {
  .autocomplete-items {
    width: 65%;
  }
}
@media screen and (max-width: 850px) {
  .autocomplete-items {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .autocomplete-items {
    position: absolute;
    top: 31.5px;
    left: -92px;
    width: 90%;
  }
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}