* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;
  background-color: #f3ecec;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: none;
}

.wrapper {
  width: 100%;
  padding: 0px;
  margin: 0 auto;
  box-sizing: border-box;
}

.info-style {
  position: relative;
  z-index: 3;
  color: #032f3e;
  margin: 15% auto;
  width: 30%;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
  margin: 30px auto !important;
}

.modal {
  background-color: #032f3e;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: 0.1s linear;
  background-color: black !important;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4) !important;
  visibility: hidden !important;
  /* Black w/ opacity */
}

.model-content {
  position: relative;
  z-index: 3;
  color: #032f3e;
  margin: 15% auto;
  width: 30%;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.model-close {
  color: #f8f9fb;
  font-size: 32px;
  position: absolute;
  right: 10px;
  top: 0px;
  transition: 0.3s ease-in;
  cursor: pointer;
  font-weight: bold;
}
.model-close:hover {
  color: #a8a7a7;
}

.success {
  background-color: #e8fce8;
  border: 1px solid #589958;
  box-shadow: inset 1px 1px 1px 2px #589958, inset -1px -1px 1px 2px #589958, inset 1px 1px 1px 2px #589958, inset -1px -1px 1px 2px #589958;
}
.success h4 {
  font-size: 22px;
  font-weight: 700;
  color: #589958;
}
.success h4 .term {
  font-size: 22px;
  font-weight: 900;
  color: #589958;
}

.failure {
  background-color: #ffe8e8;
  border: 1px solid #ff6060;
  box-shadow: inset 1px 1px 1px 2px #ff6060, inset -1px -1px 1px 2px #ff6060, inset 1px 1px 1px 2px #ff6060, inset -1px -1px 1px 2px #ff6060;
}
.failure h4 {
  font-size: 20px;
  font-weight: 700;
  color: #ff6060;
}
.failure h4 .term {
  font-size: 22px;
  font-weight: 900;
  color: #ff6060;
}

.warning {
  background-color: #ffecc0;
  border: 1px solid #e9b148;
  box-shadow: inset 1px 1px 1px 2px #e9b148, inset -1px -1px 1px 2px #e9b148, inset 1px 1px 1px 2px #e9b148, inset -1px -1px 1px 2px #e9b148;
}
.warning h4 {
  font-size: 20px;
  font-weight: 700;
  color: #e9b148;
}
.warning h4 .term {
  font-size: 22px;
  font-weight: 900;
  color: #e9b148;
}

.logo3 {
  width: 100%;
  position: relative;
  top: 20px;
  text-align: center;
  text-transform: capitalize;
  transform: translateY(40%);
}

.logo-title2 {
  color: #ecac08;
  font-weight: 900;
}

.logo3 a {
  font-size: 28px;
  font-weight: 700;
  color: #032f3e;
}

.form-wrapper {
  width: 400px;
  margin: -180px auto;
  padding: 20px;
  border: 0.5px solid #d8d4d4;
  box-shadow: inset 1px 1px 0.5px 0.5px #a8a7a7, inset -1px -1px 0.5px 0.5px #a8a7a7;
  transform: translateY(50%);
  color: #032f3e;
  margin: 0 auto;
  margin-top: -240px !important;
}
@media screen and (max-width: 430px) {
  .form-wrapper {
    width: 350px;
  }
}
@media screen and (max-width: 370px) {
  .form-wrapper {
    width: 300px;
  }
}

.input-container {
  width: 360px;
  position: relative;
  height: 50px;
  margin: 20px 0px;
  overflow: hidden;
}
@media screen and (max-width: 430px) {
  .input-container {
    width: 310px;
  }
}
@media screen and (max-width: 370px) {
  .input-container {
    width: 260px;
  }
}

.input-container .input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  color: #595f6e;
  border: none;
  font-size: 18px;
  outline: none;
  background-color: #f3ecec;
}

.form-wrapper .label-content2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #032f3e;
}

.form-wrapper .label-content2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #ecac08;
  left: 0px;
  bottom: -1px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  left: 0px;
  bottom: 5px;
  transition: all 0.1s ease;
}

.input-container .input:focus + label .content-name,
.input-container .input:valid + label .content-name {
  transform: translateY(-150%);
}

.input-container .input:focus + label::after,
.input-container .input:valid + label::after {
  transform: translateX(0%);
}

.registerButton button {
  border: none;
  text-decoration: none;
  background-color: #f8bf2e;
  text-align: center;
  width: 100%;
  color: #032f3e;
  padding: 15px 0px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 1px 1px 0.5px 1px #ecac08, 1px 1px 0.5px 1px #ecac08;
  outline: none;
  transition: all 0.1s ease;
  margin-top: 20px;
}

.registerButton button:hover {
  background-color: #e2a508;
}

.registerButton button:disabled {
  background-color: #ffe4ca;
  box-shadow: 1px 1px 0.5px 1px #a8a7a7, 1px 1px 0.5px 1px #a8a7a7;
  cursor: default;
}

.lead {
  font-size: 14px;
  padding: 15px 0px;
}

.lead a {
  font-size: 18px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: #5069f7;
}

.login-footer2 {
  width: 100%;
  position: relative;
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  color: #595f6e;
  margin: 20px 0px 0px 0px;
}

/* The message box is shown when the user clicks on the password field */
#messages {
  display: none;
  background: #f1f1f1;
  color: #595f6e;
  position: relative;
  padding: 20px 20px 0px 20px;
  margin-top: 10px;
}

#messages p {
  padding: 5px;
  font-size: 16px;
}

.eye-toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-size: cover;
  cursor: pointer;
  top: 50%;
  right: 20px;
  transform: translateY(-20%);
  display: none;
  background-image: url("/images/show.png");
}

.hide {
  background-image: url("/images/hide.png");
}

.error-content {
  color: #ff5f5f;
  font-size: 15px;
  display: none;
}

.correct-content {
  color: #1d861d;
  font-size: 15px;
  display: none;
}

.valid {
  color: #1d861d;
}

.invalid {
  color: #ff5f5f;
}

.loadOverlay {
  background-color: #032f3e;
  opacity: 0.95;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  transition: 0.1s linear;
  visibility: visible !important;
  background-color: black !important;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4) !important;
  /* Black w/ opacity */
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  border: 10px solid #595f6e;
  border-radius: 50%;
  border-top: 10px solid #ecac08;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.redirect-login {
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  color: #032f3e;
  padding: 20px;
  transition: 0.1s linear;
}
.redirect-login:hover {
  color: #ecac08;
}